.app {
    display: grid;
    grid-template-columns: 380px 1fr 380px;
    grid-template-rows: 6;
    grid-auto-rows: minmax(200px, auto);
}

.cork {
    grid-area: 1/1/2/2;
    background-color: #e9eae2;
    height: 670px;
}

.goodThings {
    grid-area: 1/2/2/3;
    background-color: #e9eae2;
    width: 1120px;
    height: 670px;
}

.nav {
    grid-area: 1/3/2/4;
    background-color:#e9eae2;

}
